*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url("/img/marek-piwnicki-_kY6w94o-f0-unsplash.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.weather-forecast-search{
    padding: 20px 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.five-day-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: left;
}
.date-container{
    font-weight: 100;
    text-align: center;
}
.date-container .time{
    font-size: 100px;
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.date-container .date{
    font-size: 20px;

}
.five-day-forecast .weather-forecast-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    margin: 0 10px;
    border-radius: 10px;
    padding: 15px;
}
.five-day-forecast .date-container .weather-forecast{
    display: flex;
    justify-content: space-between;
}
.five-day-forecast .weather{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}
.five-day-forecast .minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0 0 5px 5px;
}
.five-day-forecast .maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0 0 5px 5px;
}
@media only screen and (max-width: 730px){
    .container{
        padding: 20px;
    }
    .five-day-forecast{
        justify-content: start;
        align-items: normal;
        overflow-y: scroll;
    }
}
.date-container .time{
    font-size: 50px;
}
.date-container #am-pm{
    font-size: 20px;
}
.date-container .date{
    font-size: 20px;
}
.weather-forecast-search{
    font-size: 12px;
}

@media only screen and (max-width: 1000px){
    .five-day-forecast{
        justify-content: start;
        overflow-y: scroll;
    }
}

